@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* 複製以下code到指定的位置 *@
@* @await Html.PartialAsync("_PartialFooter") *@

<!-- 頁尾 -->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section ms-5" id="about">
                <h3>關於 SportMatch</h3>
                <p style="line-height:1.5">我們致力打造最優質的運動社群平台，連結熱愛運動的每個人。</p>
            </div>
            <div class="footer-section ms-5">
                <h3>快速連結</h3>
                <ul>
                    <li class="mt-1"><a href="/ContactUs/Index">聯絡我們</a></li>
                    <li class="mt-1"><a href="#help">幫助中心</a></li>
                    <li class="mt-1"><a href="#privacy">隱私政策</a></li>
                    <li class="mt-1"><a href="#terms">使用條款</a></li>
                </ul>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.5870416573957!2d120.64733177556812!3d24.151136573273323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d9666d7c19b%3A0x66e5645cb01692e2!2zNDA45Y-w5Lit5biC5Y2X5bGv5Y2A5YWs55uK6Lev5LqM5q61MTAw6Jmf!5e0!3m2!1szh-TW!2stw!4v1742373260650!5m2!1szh-TW!2stw" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div class="footer-section ms-5">
                <h3>聯絡資訊</h3>
                <p class="mt-1">
                    <i class="fas fa-location-dot"></i>
                    <a href="https://www.google.com/maps?q=台中市南屯區公益路100號" target="_blank">台中市南屯區公益路100號</a>
                </p>
                <p class="mt-1">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:a0972299435@gmail.com?subject=詢問&body=您好，請問您有什麼問題嗎？">a0972299435@gmail.com</a>
                </p>
                <p class="mt-1">
                    <i class="fas fa-phone"></i>
                    <a href="tel:0909350792">0988777668</a>
                </p>
            </div>
            <div class="footer-section ms-5">
                <h3>追蹤我們</h3>
                <div class="social-links">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-line"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 SportMatch. All rights reserved.</p>

        </div>
    </div>
</footer>