@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* 複製以下code到指定的位置 *@
@* @await Html.PartialAsync("_PartialFooter") *@

<!-- 頁尾 -->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section ms-5" id="about">
                <h3>關於 SportMatch</h3>
                <p style="line-height:1.5">我們致力於打造最優質的運動社群平台，連結熱愛運動的每個人。</p>
            </div>
            <div class="footer-section ms-5">
                <h3>快速連結</h3>
                <ul>
                    <li class="mt-1"><a href="/ContactUs/Index">聯絡我們</a></li>
                    <li class ="mt-1"><a href="#help">幫助中心</a></li>
                    <li class="mt-1"><a href="#privacy">隱私政策</a></li>
                    <li class="mt-1"><a href="#terms">使用條款</a></li>
                </ul>
            </div>
            <div class="footer-section ms-5">
                <h3>聯絡資訊</h3>
                <p class="mt-1"><i class="fas fa-location-dot"></i> 台中市南屯區公益路100號</p>
                <p class="mt-1"><i class="fas fa-envelope"></i> a0972299435@gmail.com</p>
                <p class="mt-1"><i class="fas fa-phone"></i> 0988777668</p>
            </div>
            <div class="footer-section ms-5">
                <h3>追蹤我們</h3>
                <div class="social-links">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-line"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 SportMatch. All rights reserved.</p>

        </div>
    </div>
    </footer>