@model string
<label class="col-6">
	<input type="checkbox" id="@Model" name="MatchEvent" value="@Model" class="MatchCheckBoxItem me-1" style="cursor:pointer">
	<label for="@Model" style="cursor:pointer">@Model</label>
</label>
<br>
