@model dynamic

@{
    Layout = "_MemberLayout";
}
<div class="tab-wrapper">
    <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" aria-selected="false">
            <a class="nav-link active" href="" aria-controls="tab1">我的隊伍</a>
        </li>
        <li class="nav-item"  aria-selected="false" >
            <a class="nav-link" href="" aria-controls="tab2">即將到來的賽事</a>
        </li>
        <button class="action btn btn-secondary btn-sm edit_Btn d-flex align-items-center" role="button" data-bs-target="#createTeamModal" data-bs-toggle="modal">編輯</button>
    </ul>
    <div class="tab-content-container">
        <div class="tab-content active myTeam" id="tab1">
            <div class="collapse-wrapper">
                <div class="wrapHeader">
                    <p class="wrapTrigger blockTitle d-flex align-items-center pb-0 border-0"><i class="fa-solid fa-basketball me-2"></i>籃球戰神隊<i class="fa-solid fa-caret-down ms-2"></i></p>
                    <button class="btn btn-sm btn-light flex-shrink-0 ms-1 d-none">新增隊伍</button>
                </div>
                <div class="wrapBody">
                    <table class="table memCt border-0 shadow-sm">
                        <thead class="bg-secondary">
                        <tr>
                            <th scope="col">運動類型</th>
                            <th scope="col">創立時間</th>
                            <th scope="col">成員數量</th>
                            <th scope="col">完成賽事</th>
                            <th scope="col" class="actions">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>籃球</td>
                            <td>2023-05-10 13:12:34</td>
                            <td>3</td>
                            <td>3</td>
                            <td class="actions">
                                <button class="btn btn-sm btn-outline-secondary">詳情</button>
                                <button class="btn btn-sm btn-secondary">編輯</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div>
                                    <table class="w-100 table-hover">
                                        <thead>
                                        <tr>
                                            <th>隊員</th>
                                            <th>位置</th>
                                            <th>加入時間</th>
                                            <th class="actions">
                                                <button class="btn btn-sm quitGroup_Btn">操作</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>夏琳瑞<span class="status leader ms-2"><i class="fa-solid fa-flag me-1"></i>隊長</span></td>
                                            <td>前鋒</td>
                                            <td>2023-05-10</td>
                                            <td>
                                                <button class="btn btn-sm">退出</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>王小明</td>
                                            <td>控球後衛</td>
                                            <td>2023-06-15</td>
                                            <td>
                                                <button class="btn btn-sm">移除</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>陳大文</td>
                                            <td>控球後衛</td>
                                            <td>2023-06-15</td>
                                            <td>
                                                <button class="btn btn-sm">移除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-content onComingEvent" id="tab2">
            <table class="table memCt table-hover shadow-sm">
                <thead class="">
                <tr>
                    <th scope="col" class="">比賽名稱</th>
                    <th scope="col" class="text-center">比賽日期</th>
                    <th scope="col" class="text-center">比賽地點</th>
                    <th scope="col" class="text-center">類型</th>
                    <th scope="col" style="width: 8%">報名狀態</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2025 台中籃球公開賽</td>
                    <td class="text-center">2025-02-28  13:00</td>
                    <td  class="text-center">2025 台中籃球公開賽</td>
                    <td  class="text-center">籃球</td>
                    <td  class="text-center"><span class="status default">成功</span></td>
                    <td class="actions">
                        <button class="btn me-1">詳情</button>
                        <button class="btn">取消</button>
                    </td>
                </tr>
                <tr>
                    <td>2025 台中籃球公開賽</td>
                    <td class="text-center">2025-02-28  13:00</td>
                    <td  class="text-center">2025 台中籃球公開賽</td>
                    <td  class="text-center">羽球</td>
                    <td  class="text-center"><span class="status cancel">已取消</span></td>
                    <td class="actions">
                        <button class="btn me-1">詳情</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
