/*基本變數*/
:root {
    --font-family: "Arial", sans-serif;
    --line-height: 1.6;
    --orange-100: #fdf0e3;
    --orange-200: #f8d6b6;
    --orange-300: #f4b980;
    --orange-400: #f19d4b;
    --orange-500: #fd7e14; /* 主色 */
    --orange-600: #cc6511;
    --orange-700: #a4510e;
    --orange-800: #7b3d0a;
    --orange-900: #4c2405;

    --yellow-100: #fff7e3;
    --yellow-200: #ffedb3;
    --yellow-300: #ffe380; /* 輔色 */
    --yellow-400: #ffd74d;
    --yellow-500: #ffc107; 
    --yellow-600: #d39e06;
    --yellow-700: #aa8005;
    --yellow-800: #806004;
    --yellow-900: #554002;
    --primary-color: var(--orange-500);
    --secondary-color: var(--yellow-300);
    --dark-bg: #1E1611;
    /*--dark-secound-bg: #312f2d; #00000061*/
    --dark-secound-bg: #00000061;
    --body-color: #00000024;
    /*--dark-secound-bg: #29221D;*/
    
    --white: #ffffff;
    --dark-white: #E8E8E8;
    --dark-grey: rgba(255, 255, 255, 0.4);
    
    --main-gradient: linear-gradient(135deg, #3a8dde, #34c79b);
    --primary-gradient: linear-gradient(135deg, var(--yellow-500), var(--primary-color));
    --golden-gradient: linear-gradient(135deg,  #FFF08D, #F5DF68, #ECCF42, #E2BE1D );
    
    --bs-table-bg: #3b3b3b61;
    --bs-table-th: rgba(255, 255, 255, 0.2);
    --bs-table-th-sticky: rgb(164, 164, 164);
    --bs-table-hover-bg: var(--golden-gradient);
    --accordion-bg: var(--dark-secound-bg);
}

/*@font-face {*/
/*    font-family: 'openhuninn';*/
/*    src: url('../image/MatchPage/jf-openhuninn-2.1.ttf');*/
/*}*/

/*通用樣式重置*/
body,
h1,
p,
a,
form,
input,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    /*font-family: "openhuninn", sans-serif;*/
}

button,
.btn {
    &:focus,
    &:focus-visible {
        box-shadow: none !important;
        outline: none !important;
        
        &.btn-primary {
            
            &:hover {
                transform: translateY(0);
            }
        }
    }
}


/*基本排版*/
body {
    /*background: var(--dark-bg);x*/
    font-family: var(--font-family);
    position: relative;
    
    &::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -2;
        background: var(--main-gradient);
        pointer-events: none;
    }
    
    &::after {
        content: "";
        background-color: rgb(0 0 0 / 73%);
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
    }
}

/*導航欄樣式*/
header {
    background: rgb(255 255 255 / 10%);
    /*box-shadow: var(--shadow);*/
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            background: var(--primary-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Galada", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
        }

        .main-nav {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: center;

            ul {
                display: flex;
                gap: 2rem;
                list-style: none;
                margin: 0;
                padding: 0;
                
                li {
                    
                    a {
                        color: var(--dark-grey);
                        transition: all 0.3s ease-in-out;
                        
                        &:hover {
                            color: var(--yellow-100);
                        }
                    }
                }
            }
        }
    }

    .btn-login {
        background: var(--primary-gradient);
        color: var(--white);
    }
    
    .btn-register {
        color: #F5DF68;
    }
}

/* 整體樣式設置 */
.dropdown-content, .dropdown-content2 {
    display: none; /* 預設隱藏 */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* 預設透明 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* 添加過渡效果 */
    transform: translateY(-10px); /* 初始位置稍微向上移動 */
}

.user-email-container {
    position: relative;
    display: inline-block;
}

.user-email {
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* 滑鼠懸停顯示 */
.user-email:hover {
    color: #0056b3;
}

/* 下拉選單內部按鈕樣式 */
.dropdown-content a, .dropdown-content button, .dropdown-content2 a, .dropdown-content2 button {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover, .dropdown-content button:hover, .dropdown-content2 a:hover, .dropdown-content2 button:hover {
    background-color: #ddd; /* 鼠標懸停時變色 */
}

/* 當下拉顯示時的樣式 */
.dropdown-content.show, .dropdown-content2.show {
    display: block;
    opacity: 1; /* 變得可見 */
    transform: translateY(0); /* 回到正常位置 */
}

.container-fluid {
    padding: 0;

    main {
        position: relative;

        .main-wrap {
            width: 100%;
            min-height: 59vh;
            margin-top: 66px;
            padding: 16px 0;
            display: flex;

            .main-content {
                width: 100%;
                margin: 0 16px;

                /*文字限縮顯示*/
                .txt-overflow {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                
                /*按鈕文字不換行*/
                button {
                    text-wrap: nowrap;

                    p{
                        text-wrap: nowrap;
                    }
                }
                
                /*btn-點擊之外的匡線*/
                button.btn {
                    &:focus {
                        border: none;
                        box-shadow: none !important;
                    }

                    &:not(:focus ) {
                        border: none !important;
                        box-shadow: none !important;
                    }
                }

                .data-container {
                    min-height: 84vh;
                    padding: 16px;
                    background: var(--dark-secound-bg);
                    color: var(--dark-grey);
                    border-radius: 16px;
                    
                    input[type="text"],
                    input[type="checkbox"],
                    select,
                    textarea,
                    .form-control,
                    .form-select {
                        background: rgb(187 187 187 / 20%)!important;
                        border-color: var(--bs-table-th);
                        color: #d0d0d0;
                       
                        &:disabled {
                            background: rgb(137 137 137 / 20%);
                            color: #a4a4a4;
                        }
                        
                        &::placeholder {
                            color: #d0d0d0;
                        }
                        
                        &:checked {
                            background: var(--primary-gradient);
                        }
                    }
                    
                    /*loading遮罩*/
                    .loading-overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 9999;
                    }

                    /*通知中心-訊息清單*/
                    ul.notification-list {
                        display: flex;
                        align-items: center;
                        padding: 0 1rem;

                        li {
                            width: 100%;
                            border-radius: 8px;
                            background: var(--dark-secound-bg);
                            padding: 1rem;
                            gap: 1rem;
                            position: relative;

                            .notifyIcon {
                                width: 4rem;
                                height: 4rem;
                                background-color: #515151;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                overflow: hidden;

                                i {
                                    font-size: 1.25rem;
                                    color: white;
                                }
                            }

                            &.unread {
                                background: #88888833;
                            }

                            .content {
                                width: 71%;
                                max-width: 71%;
                                line-height: 1.25rem;
                                flex-shrink: 0;

                                strong {
                                    font-weight: bold;
                                }

                                .time {
                                    color: darkgray;
                                }
                            }

                            .actions {
                                position: absolute;
                                left: unset;
                                right: 20px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    /*tab線條版*/
                    ul.nav.nav-underline {
                        margin-bottom: 2rem;
                        position: relative;

                        li {
                            cursor: pointer;

                            a {
                                color: darkgray;
                                font-size: 19px;
                                position: relative;
                                transition: all 0.3s ease;
                                cursor: pointer;

                                &:before {
                                    content: '';
                                    width: 0;
                                    height: 4px;
                                    background: var(--primary-gradient);
                                    border-radius: 4px;
                                    position: absolute;
                                    top: unset;
                                    bottom: -3px;
                                    left: 0;
                                    transition: width 0.4s ease-out, width 0.4s ease-out;
                                }
                                &:hover {
                                    color: var(--white);
                                    font-weight: bold;
                                }

                                &.active {
                                    color: var(--white);
                                    font-weight: bold;

                                    &:before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        
                        button.action {
                            position: absolute;
                            top: 50%;
                            left: unset;
                            right: 16px;
                            transform: translateY(-50%);
                        }
                    }
                    
                    /*tab內容容器*/
                    .tab-wrapper {
                        overflow: hidden;

                        .tab-content {
                            padding: 0 0 0 1rem;
                            visibility: hidden;
                            opacity: 0;
                            height: 0;
                            transition: opacity 0.3s ease-in-out;

                            table {
                                /*border: 1px solid lightgray;*/
                                font-size: 14px;
                                margin-bottom: 0;

                                tr {
                                    border-bottom: 1px solid lightgray;

                                    &:last-of-type {
                                        border-bottom: none;
                                    }
                                }

                                th {
                                    background: var(--bs-table-th);
                                    color: var(--white);
                                }

                                td {
                                    background: var(--bs-table-bg);
                                    
                                    .status {
                                        text-wrap: nowrap;
                                        border: 1px solid green;
                                        padding: 2px 4px;

                                        &.default {
                                            border-color: lightgreen;
                                            color: green;
                                        }

                                        &.cancel {
                                            border-color: darkgray;
                                            color: darkgray;
                                        }

                                        &.leader {
                                            border-color: dodgerblue;
                                            color: dodgerblue;
                                        }
                                    }
                                    button {
                                        font-size: 12px;
                                    }

                                    table {
                                        border-radius: 8px;
                                        overflow: hidden;

                                        th,
                                        td {
                                            vertical-align: center;
                                            padding: 0 0.85rem;

                                            &:nth-of-type(1) {
                                                text-align: left;
                                            }
                                        }

                                        td {
                                            padding: 0.85rem;
                                        }
                                    }
                                }

                                th,
                                td {
                                    vertical-align: middle;
                                    position: relative;

                                    &:after{
                                        content: '';
                                        width: 1px;
                                        height: 30%;
                                        background: lightgrey;
                                        position: absolute;
                                        left: unset;
                                        right: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }

                                    &:last-of-type {
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }

                            /*喜愛的運動*/
                            &.favSport {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                gap: 1rem;
                            }
                            /*即將到來的賽事*/
                            &.onComingEvent {

                            }
                        }
                        .tab-content.active {
                            visibility: visible;
                            opacity: 1;
                            height: auto;
                        }
                    }

                    /*會員中心共用-table*/
                    table.memCt {
                        border-collapse: separate;
                        /*border: 1px solid var(--bs-table-th);*/
                        font-size: 14px;
                        margin-bottom: 0;

                        tr {
                            border-bottom: 1px solid lightgray;

                            th,
                            td {
                                color: var(--dark-grey);
                                vertical-align: middle;
                                position: relative;

                                &:after{
                                    content: '';
                                    width: 1px;
                                    height: 30%;
                                    background: var(--dark-grey);
                                    position: absolute;
                                    left: unset;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                &:last-of-type {
                                    &:after{
                                        display: none;
                                    }
                                }
                            }

                            th {
                                background: var(--bs-table-th);
                                height: 45px;

                                &:nth-of-type(1) {
                                    border-radius: 16px 0 0 0;
                                }

                                &:last-of-type {
                                    border-radius: 0 16px 0 0;
                                }
                            }

                            td {
                                height: 50px;
                                background: var(--bs-table-bg);

                                .status {
                                    border: 1px solid green;
                                    padding: 2px 4px;
                                    text-wrap: nowrap;

                                    &.default {
                                        border-color: lightgreen;
                                        color: green;
                                    }
                                }
                                button {
                                    font-size: 12px;
                                }
                            }
                        }
                        
                        /*儀表板-訂單紀錄*/
                        &.orderList {

                            th,
                            td {
                                &:nth-of-type(1) {
                                    width: 8%;
                                }

                                &:nth-of-type(2) {
                                    width: 22.5%;
                                }

                                &:nth-of-type(3) {
                                    width: 23.5%;
                                }

                                &:nth-of-type(4) {
                                    width: 34%;
                                }
                                
                                &:nth-of-type(5) {
                                    width: 10%;
                                }
                            }
                        }

                        &.collapse-wrapper {
                        
                            tr.wrapTrigger {
                        
                                td {
                                    &:nth-of-type(1) {
                                        width: 8%;
                                    }
                        
                                    &:nth-of-type(2) {
                                        width: 22.5%;
                                    }
                        
                                    &:nth-of-type(3) {
                                        width: 23.5%;
                                    }

                                    &:nth-of-type(4) {
                                        width: 34%;
                                    }

                                    &:nth-of-type(5) {
                                        width: 10%;
                                    }
                                }
                            }
                        }
                    }

                    /*計數樣式*/
                    .recordCount{
                        font-size: 13px;
                        padding: 4px 8px;
                        border-radius: 16px;
                    }

                    /*加入我的最愛按鈕*/
                    button.favBtn {

                        &:focus {
                            border: none;
                            box-shadow: none;
                        }

                        &:not(:focus ) {
                            border: none;
                            box-shadow: none;
                        }
                        i {
                            font-size: 20px;
                            color: #ff5e62;

                            &.fa-regular{
                                color: black;
                            }
                        }
                    }

                    /*下拉選單樣式*/
                    .accordion {
                        background: var(--accordion-bg) !important;
                        color: var(--dark-grey) !important;
                        
                        .accordion-body,
                        .accordion-item {
                            background: var(--accordion-bg) !important;
                            
                            &:has(.collapsed){
                                h2 {
                                    color: var(--orange-500) !important;
                                }
                            }
                        }
                        
                        .accordion-header {
                            background: unset !important;
                            
                            .accordion-button {
                                background: var(--accordion-bg) !important;
                                
                                .blockTitle {
                                    font-size: 15px !important;
                                    color: var(--dark-white);
                                }

                                i {
                                    transition: all 0.3s;
                                }

                                &::after {
                                    display: none;
                                }

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }

                                &:not(.collapsed) {
                                    background-color: unset;

                                    i {
                                        rotate: 180deg;
                                    }
                                }

                                &.collapsed {

                                    i {
                                        rotate: 0deg;
                                    }
                                }
                            }
                        }
                    }
                    
                    /*區塊標題*/
                    .blockTitle {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 17px;
                        color: var(--dark-grey);
                        font-weight: bold;
                        border-bottom: 1px solid;
                        padding: 0 0 10px;
                        margin-top: 0.125rem;
                        
                        /*說明文字*/
                        .hint {
                            display: inline-flex;
                            font-weight: lighter;
                            color: lightslategray;
                            font-size: 14px;
                        }

                        .blockAction_Btn {
                            color: var(--dark-grey);

                            &:hover {
                                color: var(--dark-white);
                            }
                        }
                    }

                    /*移除特效*/
                    .removing {
                        opacity: 0;
                        transform: scale(0.8);
                        transition: opacity 0.4s ease-out, transform 0.4s ease-out;
                    }

                    /*收合結構*/
                    .collapse-wrapper {
                        height: fit-content;
                        margin-bottom: 16px;
                        transition: all 0.3s ease-in-out;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .wrapHeader {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            .blockTitle {
                                justify-content: unset;
                            }

                            p {
                                width: 100%;
                                cursor: pointer;

                                i.fa-caret-down {
                                    rotate: 0deg;
                                    transition: all 0.3s;
                                }

                            }
                            
                            .btn {
                                color: var(--dark-grey);

                                &:hover {
                                    color: var(--dark-white);
                                }
                            }
                        }

                        .wrapTrigger {
                            cursor: pointer;
                        }

                        .wrapBody {
                            height: fit-content;
                            max-height: 500px;
                            padding-top: 16px;
                            transition: all 0.3s;

                            /*我的最愛-場地*/
                            .venue-part,
                            .shop-part {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 1rem;

                                .card {
                                    width: calc((100% - 2rem) / 2);
                                    background: var(--dark-secound-bg);

                                    &.product {
                                        width: calc((100% - 2rem) / 3);
                                    }

                                    .row {

                                        div {
                                            position: relative;

                                            img {
                                                height: 100%;
                                                object-fit: cover;
                                            }

                                            button.favBtn {
                                                position: absolute;
                                                left: 1px;
                                                top: 1px;
                                                z-index: 2;
                                            }
                                        }

                                        .card-body {
                                            p {
                                                font-size: 14px;
                                            }
                                        }
                                    }

                                }
                            }
                            
                            /*可收合表格*/
                            tr {
                                opacity: 1;
                                transition: opacity 0.4s ease-out, transform 0.4s ease-out;
                            }
                        }

                        /*收起*/
                        &.collapsed {

                            .wrapHeader {
                                /*margin-bottom: 0 !important;*/

                                i.fa-caret-down {
                                    rotate: 180deg;
                                }
                            }

                            .wrapBody {
                                max-height: 0;
                                padding-top: 0;
                                overflow: hidden;
                            }
                            
                            tr.wrapBody {
                                display: none;
                                opacity: 0;
                            }
                        }
                    }
                }

                .data-container.dashboard {
                    background-color: unset;
                }

                /*關於我們*/
                &.ContactUsPage {
                    margin: 0;

                    .data-container {
                        width: 100%;
                        background-color: transparent;
                    }
                }

                /*場地介紹*/
                &.venusPage {
                    margin: 0;
                    position: relative;

                    .data-container {
                        width: 100%;
                        display: flex;
                        background-color: transparent;
                        position: relative;
                        
                        aside {
                            position: fixed;
                            top: 87px;
                            
                            .filter-group {

                                span,
                                .ct-tag {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 4px 5px;
                                    border-radius: 4px;
                                    border: 1px solid darkgray;
                                    font-size: 14px;
                                    transition: background-color 0.3s ease;
                                    cursor: pointer;

                                    &:not(.equipment-tag) {

                                        i {
                                            display: none;
                                        }
                                    }

                                    &:hover {
                                        color: var(--primary-color);
                                        border-color: var(--primary-color);
                                        font-weight: bold;
                                    }

                                    &.picked {
                                        background-color: var(--primary-color);
                                        font-weight: bold;
                                        color: white;

                                        i {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }

                        .venue-area {
                            justify-content: center;

                            .card {
                                overflow: hidden;
                                cursor: pointer;

                                .imgOuter {
                                    overflow: hidden;

                                    img {
                                        height: 100%;
                                        min-width: 250px;
                                        object-fit: cover;
                                        transition: all 0.3s;
                                    }
                                }

                                .card-body {

                                    p {
                                        i {
                                            width: 16px;
                                            height: 16px;
                                        }
                                    }
                                }
                            }

                            .card:hover {
                                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*RWD-MemberCenter-Index*/