.OrderFrame {
    background-color: #000000;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff
}

.OrderSection {
    background-color: #202020;
    padding: 10px;
    margin-bottom: 10px;
}

.OrderItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.OrderButton {
    background-color: #ff5f00;
    color: #ffffff;
    border: 0px;
    right: 20px;
    bottom: 20px;
}

    .OrderButton:hover {
        background-color: #ff5f00;
        color: #000000;
        border: 0px;
        right: 20px;
        bottom: 20px;
    }

.ScrollableList {
    max-height: 200px;
    overflow-y: auto;
}


/* 整個滾動條 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 滾動條圓角顏色 */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* 滾動條背景 */
::-webkit-scrollbar-track {
    background-color: none;
}
