.modal {
    background-color: rgba(0,0,0,0.65);
}
.container-fluid {
    display: flex;
    justify-content: center;
}

.MartContainer {
    height: 72rem;
    width: 116.5rem;
}

#GetCartModal .modal-dialog,
#HeartModal .modal-dialog {
    transform: none;
}

.HeartModal .modal-header {
    border-bottom: none;
}

/* 手型滑鼠 */
select:hover,
form input[type="radio"], form input[type="checkbox"], form label,
/* 底下JS */
.ProductsCard,
.PageButton,
.numberPageButton,
.numberPageButtonLink,
.FooterImage {
    cursor: pointer;
}

    select:focus,
    .BootstrapItemClass,
    .BootstrapChildItemClass,
    /* 底下JS */
    .PriceText,
    .DiscountText,
    .PageButton,
    .ProductsCard,
    .numberPageButton,
    .numberPageButtonLink,
    .numberPageButtonLinkTake,
    .PageButton:hover,
    .numberPageButton:hover,
    .numberPageButtonLink:hover,
    .numberPageButtonLinkTake:hover {
        border: 1px solid #fd7e14;
    }

.ProductsCardImgBody {
    border-bottom: 1px solid #331904;
}

select:focus {
    outline: none;
    box-shadow: #fd7e14;
}

/*配色整合*/

.container-fluid,
.HeartModal .modal-content,
.MartContainer,
/* 底下JS */
.ModalContent {
    background-color: #000000;
}

    select:focus,
    .BootstrapChildItemClass,
    /* 底下JS */
    .BtnOrange,
    .PriceText,
    .CartButton,
    .CloseButton,
    .numberPageButtonLinkTake,
    .PageButton:hover,
    .numberPageButton:hover,
    .numberPageButtonLink:hover,
    .numberPageButtonLinkTake:hover {
        background-color: #fd7e14;
    }

.HeartModal .modal-title,
.MartContainer,
.BootstrapItemClass,
/* 底下JS */
.CartButton,
.PageButton,
.numberPageButton,
.numberPageButtonLink {
    color: #ffffff;
}

    /* 底下JS */
    .numberPageButtonLinkTake,
    .PageButton:hover,
    .numberPageButton:hover,
    .numberPageButtonLink:hover,
    .numberPageButtonLinkTake:hover {
        color: #000000;
    }

.BodyLiftField {
    display: flex;
    flex-direction: column;
    width: 100rem;
    padding: 10px;
    margin: 0 0 10px 0;
}

.BodyLiftFieldImage {
    margin-top: auto;
}

.BodyRightField {
    margin: 0 0 0 13px;
    width: 800rem;
}

.PaginationBackground {
    padding: 16px 12px 0 12px;
    margin: 1px;
}

.ProductsList {
    padding: 0 0 30px 0;
    margin: 0 1px 0 1px;
    min-height:40%;
}

.BodyLiftField,
.PaginationBackground,
.ProductsList,
.BootstrapItemClass,
.BootstrapItemClass.ListPage,
.PageButton,
.numberPageButton,
.numberPageButtonLink {
    background-color: #190d02;
}

/* JS插入的HTML用CSS */
.BtnOrange,
.BtnOrangeDisabled,
.DiscountText,
.PriceText {
    display: inline-block;
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 0 0 0.1rem;
}

.BtnOrangeDisabled {
    color: #b1aca9;
    background-color: #b1490b;
}

.BtnOrange,
.BtnOrangeDisabled {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin: 0 0 0 0.5rem;
}

.ProductsCardDiv {    
    width: 20rem;
    height: 25.35rem;
}

.ProductsCard {
/*    border: 1px solid #653208;*/
    border-radius: 0.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductsCardImgBody {
/*    border-radius: 0.2rem;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ProductsCardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.DiscountText {
    background-color: #190d02;
    color: #fd7e14;
}

.ModalBodyLeftImage {
    width: 36.5vw;
    height: 41vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}

.ModelBodyProductImage {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.ModalFooterImages {
    max-height: 2rem;
    overflow: hidden;
}

.FooterImage {
    width: 7vw;
    margin-right: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1700px) {
    .MartContainer {
        width: 96.5rem;
    }
    .BodyRightField {
        width: 560rem;
    }
    .BodyLiftField {
        width: 85rem
    }
}


@media screen and (max-width: 1350px) {
    .MartContainer {
        width: 76.5rem;
    }
    .BodyRightField {
        width: 250rem;
    }
    .BodyLiftField {
        width: 45rem
    }
}

@media screen and (max-width: 1200px) {
    body {
        overflow-x:auto;
    }
    .MartContainer {
        width: 60.5rem;
    }
    .BodyRightField {
        width: 75rem;
    }
    .BodyLiftField {
        width: 20rem;
        overflow-x:auto;
    }

    .ProductsCardDiv {
        width: 20rem;
        height: 26.655rem;
    }

}