@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
    <script src="~/Views/Mart/Mart.cshtml.js" asp-append-version="true"></script>
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<!-- 主頁面 -->
<div class="container-fluid">
    <div class="d-flex MartContainer">
        <!-- 左側欄位 -->
        <div class="BodyLiftField">
            <h5 class="ml-2 mt-2">篩選條件</h5>
            <form>
                <div class="accordion" id="FilterAccordion">
                    <div class="accordion-item BootstrapItemClass">
                        <h5 class="p-2 accordion-header">
                            <input type="radio" name="ParentCategory" id="ParentCategoryRadio0" data-bs-toggle="collapse" data-bs-target="#Collapse0" /><label class="px-3" for="ParentCategoryRadio0">全部</label>
                        </h5>
                        <div id="Collapse0" class="accordion-collapse collapse" data-bs-parent="#FilterAccordion"></div>
                    </div>

                    <!-- 父分類 -->
                    @foreach (var item in ViewBag.ForCategory)
                    {
                        <div class="accordion-item BootstrapItemClass">
                            <h5 class="p-2 accordion-header">
                                <input type="radio" name="ParentCategory" id="ParentCategoryRadio-@item.CategoryID" data-bs-toggle="collapse" data-bs-target="#Collapse-@item.CategoryID" />
                                <label class="px-3" for="ParentCategoryRadio-@item.CategoryID">@item.CategoryName</label>
                            </h5>
                            <div id="Collapse-@item.CategoryID" class="accordion-collapse collapse BootstrapChildItemClass" data-bs-parent="#FilterAccordion">
                                <div class="accordion-body">
                                    <!-- 子分類 -->
                                    @foreach (var categoryitem in item.SubCategorys)
                                    {
                                        <input type="checkbox" name="SubCategory" id="@(item.CategoryID)_SubCategoryID_@(categoryitem.Key)" class="ChildCategoryCheckbox" />
                                        <label for="@(item.CategoryID)_SubCategoryID_@(categoryitem.Key)">@categoryitem.Value</label>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <!-- 後續用迴圈加分類 -->
                </div>

            </form>
            <!-- 側廣告 -->
            <a href="#" class="BodyLiftFieldImage"><img src="\image\MartImage\iconSide.jpg" alt="側廣告" class="img-fluid" /></a>
        </div>



        <!-- 商品欄位 -->
        <div class="BodyRightField">
            <!-- 主廣告 -->
            <div class="mb-3">
                <a href="#"><img src="\image\MartImage\iconLong.jpg" alt="主廣告" class="img-fluid" /></a>
            </div>
            <!-- 換頁欄 -->
            <div class="d-flex justify-content-between mb-3 PaginationBackground">
                <nav>
                    <ul class="pagination">
                        <!-- 這邊使用JS加入HTML -->
                    </ul>
                </nav>
                <div>
                    <select class="form-select BootstrapItemClass" id="PriceSort">
                        <option value="none">預設排序</option>
                        <option value="high">價格從低到高</option>
                        <option value="low">價格從高到低</option>
                    </select>
                </div>
            </div>
            <!-- 商品列表 -->
            <div class="row ProductsList">
                <!-- 這邊使用JS加入HTML -->
            </div>
        </div>
    </div>
</div>

<!-- 加入我的最愛彈出視窗 -->
<div class="modal fade HeartModal" id="HeartModal" tabindex="-1" role="dialog" data-bs-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-2 border-white">
            <div class="modal-header">
                <h5 class="modal-title" id="HeartModalMessage">已加入我的最愛</h5>
            </div>
        </div>
    </div>
</div>

<!-- 加入購物車彈出視窗 -->
<div class="modal fade HeartModal" id="GetCartModal" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GetCartModalMessage">已加入購物車</h5>
            </div>
        </div>
    </div>
</div>
